<!DOCTYPE html>
<html>
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div>TODO write content</div>
<form action="calculadoraresposta" method="get">
    Numero 1<input type="text" name="numero1"/> <br/>
    Numero 2<input type="text" name="numero2"/><br/>
    <input type="submit" value="+" name="op"/> <br/>
</form>
</body>
</html>